<%- include('partials/header') -%>
  <!-- <div class="container d-flex justify-content-center"> -->
  <div class="container ">
    <div class="row justify-content-center ">
      <div class="col-md-6 ">
      <ul class="list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 mt-5 mx-auto">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid " src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>
  </div>  
<%- include('partials/footer') -%>